.homepage{ 
    height: auto;
    background-size: cover;
}

.container {
    max-width: 1200px;
  }
  
  .banner-section{
    img{
        width: 100%;
    }
  }
  .u-section-2 {
    width: 1035px;
    margin: -175px auto 0 calc(((100% - 1140px) / 2) + 53px);
    .u-layout-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 100%;
        max-width: 100%;
    }
    .u-layout-cell, .u-group.u-opacity {
        //background-color: transparent !important;
        opacity: 1;
    }
    .u-valign-middle, .u-valign-top, .u-valign-bottom {
        display: flex;
        flex-direction: column;
        gap: 21px;
        padding: 22px;
    }
    .u-layout-row > .u-size-20 {
        flex: 0 0 33.33333333%;
        max-width: 31.333333%;
    margin-right: 11px;
    }
    .u-container-style {
        color: #ffffff;
        background-color: #81b6bb;
    }
}
.finding-property{
    background: #f0f4f7;padding-top: 115px;
    margin-top:3%;
    h1{
        margin-bottom: 50px;
    }
}

